PORT=3000

NODE_ENV=development

# IBM Cloudant
CLOUDANT_URL=https://4b22bf0f-2ddd-4e5a-bb87-22a87b6b612c-bluemix.cloudantnosqldb.appdomain.cloud
CLOUDANT_APIKEY=vP_xIAjOWQXd72j_xjq06zxVTASlBDBBxAinuF1KFZjQ

# IBM App ID (OpenID Connect)
APP_ID_CLIENT_ID=your_app_id_client_id
APP_ID_CLIENT_SECRET=your_app_id_client_secret
APP_ID_CALLBACK_URL=http://localhost:3000/api/auth/callback
APP_ID_ISSUER=https://<region>.appid.cloud.ibm.com/oauth/v4/<tenant-id>
APP_ID_AUTHORIZATION_URL=https://<region>.appid.cloud.ibm.com/oauth/v4/<tenant-id>/authorization
APP_ID_TOKEN_URL=https://<region>.appid.cloud.ibm.com/oauth/v4/<tenant-id>/token
APP_ID_USERINFO_URL=https://<region>.appid.cloud.ibm.com/oauth/v4/<tenant-id>/userinfo

SESSION_SECRET=your_long_random_session_secret

# Resend (welcome emails)
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=your_email_from_address
EMAIL_FROM_NAME=your_email_from_name

CLIENT_URL=http://localhost:5173

# Cloudinary (image uploads)
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret